/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Body element selector -- backgroud color set to light green*/
body {
    background-color:rgb(165, 165, 247);
}

/* Header class selector */
.header {
    padding: 20px;
    /* Header font family set */ 
    background-color: #2a607c;
    color: #ffffff;
}

/* Header class selector h1 font size and display type set */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header class selector navigator attributes set */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Header class selector navigator list style type attribute set to none, 
   list items set as inlined to list the items in the same line */
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph element font size set to 16px */
p {
    font-size: 16px;
}

/* hero class selector attributes set for the main image */
.bluejayImage {
    display: block;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:10px;
    border: 5px solid blueviolet;
}

.caption {
    text-align:center;
    color:darkblue;
    font-size: large;
    margin-bottom: 20px;
}

/* content class attributes set */
.content {
    width: 95%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    background-color: #0072bb;
    color: #ffffff;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content p {
    margin-top: 20px;
}

.contactForm {
    padding: 30px;
    clear: both;
    background-color: lightblue;
    border:10px;
    text-align: center;
}

.contactForm h3 {
    text-align: center;
    color:darkblue;
    font-size: large;
    margin-bottom: 20px;
}
.contactForm label {
    text-align: center;
}
.contactForm input {
    text-align: center;
    display: inline-block;
    
}

/* footer class attributes set */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color: white;
    border:10px;
}

.footer h2 {
    font-size: 20px;
}
